<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="scaleMultiplier" value="1,0"/>
		<add key="crosshairOpacity" value="1,0"/>
		<add key="crosshairRelPath" value="xhair.png"/>
		<add key="crosshairMarginLeft" value="0"/>
		<add key="crosshairMarginTop" value="0"/>
		<add key="crosshairMarginRight" value="0"/>
		<add key="crosshairMarginBottom" value="0"/>
	</appSettings>
</configuration>